.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    width: 30%;
}
.main{
    width: 70%;
}
.container ul{
    list-style: none;
    padding: 0;
}
.container li{
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .container {
    }
    .container .sidebar{
        width: 100%;
    }
    .sidebar ul{
        position: absolute;
        transform: translateX(-150px);
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
        color: white;
        transition: transform 0.5s;
    }
    .sidebar ul.show{
        transform: translateY(0);
    }
    .main{
        margin-top: 1rem;
        width: 100%;
    }
}